body 
  {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 50px;
    /* Add background-image properties for your background image */
  }

  .App {
    text-align: center;
  }
  
  /* App.css */
  .AllComponents {
    /* Style for the container div that holds your content */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for content */
    max-width: 1000px; /* Set the maximum width for your content container */
    width: 100%;
    padding: 20px;
    /* Additional styling as needed */
  }
  
  @media screen and (max-width: 1500px)
  {
    .AllComponents {
      max-width: 800px;
      width: 100%;
      padding: 20px;
    }
  }
  
  @media screen and (max-width: 900px)
  {
    .AllComponents {
      max-width: 500px;
      width: 100%;
      padding: 20px;
    }
  }
  
  @media screen and (max-width: 600px)
  {
    .AllComponents {
      max-width: 300px;
      width: 100%;
      padding: 20px;
    }
  }

  @media screen and (max-width: 400px)
  {
    .AllComponents {
      max-width: 250px;
      width: 100%;
      padding: 0px;
    }
  }

  .contact-info {
    text-align: center;
    line-height: 0.5;
    max-height: 125px;
}

.profile-picture {
    position: relative;
    top: -150px;
    left: 200px;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 200px;
}


.objective-statement {
    line-height: 0.7;
}

.education {
    line-height: 0.4;
}

.education-list {
    line-height: 1.4;
}

.relevant-coursework {
    line-height: 0.7;
}

.achievements-involvements {
    line-height: 1.2;
}

.work-experience {
    line-height: 0.7;
}

.work-experience-list {
    line-height: 1.4;
}

.projects {
    line-height: 1.4;
}

.space-container {
    position: relative;
    left: 600px;
}

.space-container-2 {
    position: relative;
    left: 575px;
}

.space-container-3 {
    position: relative;
    left: 725px;
}

.space-container-4 {
    position: relative;
    left: 675px;
}

h1 {
    font-size: 30px;
    text-decoration: underline;
}

h2 {
    text-align: left;
    text-decoration: underline;
    background: linear-gradient(to bottom, #00bdff 0%, #66ffae 100%);
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
}

@media screen and (max-width: 1500px) 
{
    .objective-statement {
        line-height: 1;
    }

    .space-container {
        position: relative;
        left: 500px;
    }
    
    .space-container-2 {
        position: relative;
        left: 475px;
    }
    
    .space-container-3 {
        position: relative;
        left: 625px;
    }
    
    .space-container-4 {
        position: relative;
        left: 575px;
    }
}

@media screen and (max-width: 900px) 
{
    .profile-picture {
        position: relative;
        top: -140px;
        left: 190px;
        width: 175px;
        height: 125px;
        border: 1px solid black;
        border-radius: 200px;
    }

    .objective-statement {
        line-height: 1.2;
    }

    .relevant-coursework {
        line-height: 1.4;
    }

    .space-container {
        position: relative;
        left: 200px;
    }
    
    .space-container-2 {
        position: relative;
        left: 175px;
    }
    
    .space-container-3 {
        position: relative;
        left: 325px;
    }
    
    .space-container-4 {
        position: relative;
        left: 275px;
    }
}

@media screen and (max-width: 600px) 
{
    .profile-picture {
        position: relative;
        top: -110px;
        left: 150px;
        width: 100px;
        height: 75px;
        border: 1px solid black;
        border-radius: 200px;
    }

    .education {
        line-height: 1.2;
    }

    .space-container {
        position: relative;
        left: 20px;
    }
    
    .space-container-2 {
        position: relative;
        left: 0px;
    }
    
    .space-container-3 {
        position: relative;
        left: 125px;
    }
    
    .space-container-4 {
        position: relative;
        left: 75px;
    }
}

@media screen and (max-width: 450px) 
{
    .profile-picture {
        display: none;
    }

    .achievements-involvements {
        line-height: 1.5;
    }

    .projects {
        line-height: 1.8;
    }
}

@media screen and (max-width: 400px)
{
    .space-container {
        position: relative;
        left: 0px;
    }

    .space-container-3 {
        position: relative;
        left: 75px;
    }
    
    .space-container-4 {
        position: relative;
        left: 25px;
    }

    .spacing-required {
        display: none;
    }
}